import /init.st-ericsson.rc

# init.nypon.rc
on boot
    # Generate flag file for datarequest monitoring.
    rm /data/datarequest_flg
    write /data/datarequest_flg 12
    chmod 644 /data/datarequest_flg

    # Services in system server will on occasion boost performance by
    # setting the scaling governor to performance since frequency ramp-up
    # overhead is too large with ondemand. Workaround to not have kernel patches.
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

on init
    # setup the global environment
    export EXTERNAL_STORAGE_ALL /mnt/sdcard:/mnt/usbdisk
    export EXTERNAL_STORAGE_USB /mnt/usbdisk

    # create mountpoint
    mkdir /mnt/usbdisk 0000 system system

    # create symlink
    symlink /mnt/usbdisk /usbdisk

    # chown for sim detect
    chown root radio /sys/class/sim_card/sim_status

service illumination /system/bin/illumination_service
    user root

service semcwall /system/bin/semcwall
    user root
